@using ASPFinal.Models.EntityFramework

@model IEnumerable<AUTHOR>

@{
    ViewBag.Title = "BrowseByAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse By Author</h2>

<div class="row">
    <div class="col-lg-3"></div>
    @foreach (var auth in Model)
    {
        foreach (var book in auth.WROTEs)
        {
        <div class="col-lg-3 panel">
            <a href="~/Content/images/@book.BOOK_CODE/large.jpg" rel="prettyPhoto"><img src="~/Content/images/@book.BOOK_CODE/thumb.jpg" class="thumbnail" /></a>
            <div class="panel-body">
                <h2 class="panel-title">@book.BOOK.TITLE.ToUpper()</h2>
                <p>
                    @book.BOOK.PUBLISHER.PUBLISHER_NAME
                </p>
            </div>
        </div>
        }
    }
</div>
