@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Browse By Inventory</h1>
        <a href="@Url.Action("BrowseByInventory", "Home")"><img src="~/Content/Images/inventory.jpg" /></a>
    </div>
    <div class="col-md-4">
        <h1>Browse By Author</h1>
        <a href="@Url.Action("BrowseByAuthor", "Home")"><img src="~/Content/Images/author.jpg" /></a>
    </div>
    <div class="col-md-4">
        <h1>Browse By Publisher</h1>
        <a href="@Url.Action("BrowseByPublisher", "Home")"><img src="~/Content/Images/publisher.jpg" /></a>
    </div>
    <div class="col-md-4">
        <h1>Browse By Location</h1>
        <a href="@Url.Action("BrowseByLocation", "Home")"><img src="~/Content/Images/bookstore.jpg" /></a>
    </div>
</div>